################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin
/run_cmake_x64.bat
/setenv_x64.bat